*{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.home-navbar{
    position: fixed;
    height: 50px;
    bottom: -2px;
    right: 0;
    left: 0;
    z-index: 99;
    display: none;
}

.home-tweetBtn{
    display: none;
}

.mobile-nav{
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 20px;
    padding-left: 0;
    
}

.mobile{
    position: fixed;
    background-color: white;
    z-index: 1000;
    width: 92%;
    height: 100vh;
    transition: 1s;
    overflow-y: auto;
    padding-bottom: 60px;
}

.hiddenMobile{
    left: -2000px;
    top: 0;
    transition: 1s;
}

.background{
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1280px) {
    .sideLinkSpan{
        display: none;
    }
    .sidebar{
        max-width: 152px;
        width: 100%;
        /* justify-content: flex-end; */
        align-items: flex-end;
    }

    .sidebar-button{
        width: 50px;
        height: 50px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar-svg{
        display: block;
    }
    .sidebar-tweetText{
        display: none;
    }
    .sidebar-list{
        width: 50px;
    }

    .userbox-text{
        display: none;
    }

    .widgets{
        width: 360px;
    }
}

@media screen and (max-width:1024px) {
    .widgets{
        display: none;
    }

    .content{
        flex-grow: auto;
        width: 566px;
    }
}

@media screen and (max-width:768px) {
    .tweetbox-icons{
        transform: scale(0.8);
        margin-left: -40px;
    }

    .tweetbox-button{
        margin-right: -60px;
    }

    .sidebar{
        max-width: 100px;
    }

}

@media screen and (max-width:600px) {
    .sidebar{
        max-width: 70px;
    }

    .userbox{
        padding-left: 0;
        padding-right: 0;
    }

    
}
@media screen and (max-width:500px) {
    .sidebar{
        display: none;
    }
    
    .home-text{
        font-weight: 500;
    }
    
    .home-userImg{
        display: inline-block;
    }
    .content-userImg{
        display: none;
    }
    .home-navbar{
        display: flex;
    }
    .home-tweetBtn{
        display: flex;
        position: fixed;
        right: 15px;
        bottom: 65px;
        width: 60px;
        height: 60px;
        z-index: 99;
        /* background-color: white; */
    }
}

@media screen and (max-width: 375px) {
    .feedItem-list{
        transform: scale(0.8);
        margin-left: -30px;
    }


}

@media screen and (max-width: 330px) {
    .home-icon{
        margin-left: 20px;
    }
    .mess-icon{
        margin-right: 20px;
    }


}

@media screen and (max-width:300px) {
    .feedItem-img{
        max-width: 210px;
    }
}